# BASICS OF PYTHON
### to learn python there are 4 key things to know
* TERMINOLOGIES- Different words & definitions e.g statement,expression, variable, keys , values, mutability, immutability e.t.c
* DATA TYPES- integers, float, boolean, string, list, tuple, sets, dictionary, none
* ACTION
* BEST PRACTICES- The proper way to write codes for easy assimilation and understanding by other people

## THINGS TO DO PRIOR TO NEXT CLASS
* DOWNLOAD "ANACONDA" either for mac or for windows
* click on  jupyter notebook
* read this note on Github : https://blog.hubspot.com/website/what-is-github-used-for
* Create your Github account

### Terminologies used
* variable - they store information that can be used in a program e.g nupat_students= 'my students are good', the word"nupat_students is a variable 
* line
* cell
* expression
* statement

THERE ARE 9 BASIC DATA TYPES
1. int
2. float
3. bool
4. str
5. list
6. set
7. tuples
8. dict
9. none

* int- integers.
 integers are whole numbers like 1,2,3,4,254,287,562,169,100,543200
* float- 
 floating point number i.e a number with decimal place like 1.2, 4.8, 9.2, 7.895, 6.44
* bool-
 boolean i.e True or False
* str- string.
 it is a piece of text 
 
* python can always tell you the data type so you don't have to cram anything
 
ability to perform basic arithmetic problems (+, -, /, * )

#### OPERATORS
* (+) addition
* (-) subtraction
* (/) divide 
* (*) multiplication
* (**) raised to the power of
* (//) floor divider - it does not show the remainder, rather it rounds it off the the closest intger
* (%) modulo - shows the remainder of a division

python strictly follows the concept of BODMAS

In [7]:
2+2

4

In [8]:
1000-592

408

In [9]:
500/10

50.0

In [10]:
5*5

25

In [11]:
2**3

8

In [12]:
56**7

1727094849536

In [14]:
67//7

9

In [16]:
67/7

9.571428571428571

In [17]:
785//6

130

In [18]:
785/6

130.83333333333334

In [20]:
56%6

2

In [21]:
24+4-67/6*4

-16.666666666666664

In [22]:
(24+2)-78/5*4

-36.4

In [23]:
36 in [36,54,21,56,89]

True

In [24]:
88 in [99,10,5,7,8]

False

In [3]:
type(2)

int

In [4]:
type(9)

int

In [5]:
type(False)

bool

In [7]:
type(1.675323567)

float

### STRING (str)
 * it can be written using quotation mark i.e both '' and "" 
 * let's assume we are creating a login form and you want to collect username and password" 
 * if you make any modification on a cell you have to run the cel again
 * long string- ''' is used for long statements as shown below

In [13]:
sandra = 'a student of data science and analytics'
sandra

'a student of data science and analytics'

In [14]:
my_name= 'teslim'
last_name= 'olagoke'
my_name

'teslim'

In [19]:
username= "Teslim "
password= " Olagoke"
password

' Olagoke'

In [20]:
username+password

'Teslim  Olagoke'

In [30]:
long_string= '''Over hill, over dale,
Thorough bush, thorough brier,
Over park, over pale,
Thorough flood, thorough fire!
I do wander everywhere,
Swifter than the moon's sphere;
And I serve the Fairy Queen,
To dew her orbs upon the green;
The cowslips tall her pensioners be;
In their gold coats spots you see;
Those be rubies, fairy favours;
In those freckles live their savours;
I must go seek some dewdrops here,
And hang a pearl in every cowslip's ear.'''
long_string

"Over hill, over dale,\nThorough bush, thorough brier,\nOver park, over pale,\nThorough flood, thorough fire!\nI do wander everywhere,\nSwifter than the moon's sphere;\nAnd I serve the Fairy Queen,\nTo dew her orbs upon the green;\nThe cowslips tall her pensioners be;\nIn their gold coats spots you see;\nThose be rubies, fairy favours;\nIn those freckles live their savours;\nI must go seek some dewdrops here,\nAnd hang a pearl in every cowslip's ear."

#### string concatenation
it basically means adding strings together using the '+' sign as shown below

In [158]:
'teslim ' + 'olagoke ' + 'i am 55 years old ' + 'i am a python programmer'

'teslim olagoke i am 55 years old i am a python programmer'

#### type conversion
changing different data types to each other i.e changing integers to strings

In [34]:
int(str(100))

100

In [38]:
point_a= str(100)
point_b= int(str(100))
point_b

100

#### escape sequence
* using the '\' symbol right before the use of a quotation mark within a sentence
* \t- used to create a tab(a paragraph)
* \n- used to create a new line

In [39]:
weather= "it's sunny outside"
weather

"it's sunny outside"

In [55]:
#weather_2=  ' It is \"kind of\" funny'
#weather_2

In [65]:
weather_2= "It\"s \"kind of\" rainy"
weather_2

'It"s "kind of" rainy'

#### formatted string
* method 1 is by concatenating the strings with the variable as shown 
* method 2 is by typing the letter f in lower cas right before the quotation mark and using the curly bracket to indicate the variables that would be attached also as shown below

In [100]:
name='Tes'
age=55
weight=77
height="7'5"

welcome_note='hi '+ name + '. you are ' + str(age) +' years old'+'you weigh ' + str(weight) + ' kg' + ' you are ' + height + 'tall'
welcome_note

"hi Tes. you are 55 years oldyou weigh 77 kg you are 7'5tall"

In [104]:
welcome_note= f'hi {name}. You are {age} years old and you weigh {weight}kg and you are {height} tall'
welcome_note

"hi Tes. You are 55 years old and you weigh 77kg and you are 7'5 tall"

#### string index and slicing
* use the square bracket '[   ]'  to denote an index
* when trying to get a range of numbers the number after the full column indicates that it should stop before it gets to that index and not on that particular index
* [a:b] where a is the index of the number you want to start from and b would be the number which you want to stop the count i.e if you want to stop at the 6th index then b would be 7
* [a:b:c] while c is the stepover. the amount of steps you want to skip

In [159]:
numbers= '123456789'
numbers

'123456789'

In [160]:
numbers[0]

'1'

In [161]:
numbers[5]

'6'

In [162]:
numbers[3]

'4'

In [163]:
numbers[0:7]

'1234567'

In [164]:
numbers[0:7]

'1234567'

In [165]:
numbers[0:]

'123456789'

In [166]:
numbers[0::2]

'13579'

In [167]:
numbers[0::3]

'147'

In [168]:
numbers[-2]

'8'

In [169]:
numbers[::]

'123456789'

### IMMUTABILITY
* strings are immutable i.e they can not be changed 
* as shown below, an attempt to change the 3rd index of the selfish variable from 4 to 9 was met with an error message as it's not possible 
* there are ways to edit a string as also shown below

In [174]:
selfish= '123456789'
selfish

'123456789'

In [176]:
selfish[3]='9'

TypeError: 'str' object does not support item assignment

In [179]:
selfish=selfish+'0'
selfish

'12345678900'

# THINGS TO DO PRIOR TO NEXT CLASS
* READ UP AND RESEARCH ON LIST, LIST SLICING, LIST METHODS, DICTIONARY, DICTONARY KEYS AND DICTIONARY METHODS 
* USING THIS NOTE AS REFERENCE, WRITE ON THEM AND GIVE EXAMPLES AND INSTANCES
* USE PYTHON DOCUMENTATION, STACK OVERFLOW TO GET YOUR INFORMATION ( USE GOOGLE!!!!!!!)